<html>
  <body>
    <h1>ejs template view!</h1>
    call by <%= reqType %><br />
    <br />
    <a href="./foo">/foo page test</a><br />
    <a href="./static">static directory test</a><br />
  </body>
</html>
