@font-face {
    font-family: abyss;
    src: url(./font/abyssopelagic.otf) format('opentype');
}

@font-face {
    font-family: champage;
    src: url(./font/Champagne_Limousines.ttf) format('truetype');
}

@font-face {
    font-family: gokuboso;
    src: url(./font/chogokubosogothic_5.ttf) format('truetype');
}

body {
      background-image: url(./img/hexabump.png);
      background-repeat: repeat;
}
